html{direction: rtl;font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
    color:#000;}

    :hover{background-color:yellow; }

.header{background-color:#282828;
        height: 80px;
        }
img{float: center;
    height: 60px;}

h1{color: white;
    font-size: 18px;
    padding: 10px 200px 10px;
    margin: 0px;
    font-style: normal;
    display: inline;
    }

.box1{height: 300px;
    background-color: #949381;
    margin: 0px 0px 0px 0px; 
    border-bottom:15px #605F52 solid; }

.nav ul{
    background-color: white;
    float: left; 
    padding: 0px;margin: 0px;
    overflow: auto;



}
.nav li{
    list-style: none;
    border-bottom:1px #605F52 dotted;padding: 5px;
    
}
.nav li:nth-child(7) {
border:0px;}
.nav li:nth-child(1) {
background-color:#282828;}

.box1 ul{
    list-style: none;
    padding: 10px 200px 10px; 
    margin: 0px;
}
.first{color:white;}
.box1 li:nth-child(1){font-size: 35px;color:white;
}
.box1 li:nth-child(2){margin-top: 15px;}

.head2{display: inline-block;font-size: 24px;}
.head3{float: left;padding: 10px 0px 0px 0px;}
section {background-color: #efefef;
        padding: 50px 50px;
        height: 1000px;
        }

.artical {background-color: white;
          padding: 10px;
          list-style-type: none;
          margin: 10px;
        width:30%;
        box-sizing: border-box;
        float:right;
        border-radius: 20px;
        }
h3{background-color: #d0eae9;
    border-radius: 20px;
    padding: 20px 20px;}
.map{background-color: #dcdcdc;
    height: 300px;
    border-top:2px #cccccc solid;}


   